<div class="row justify-content-center mt-5">
      <div class="col-lg-8 col-md-10">
        <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)" novalidate>
          <em [ngStyle]="{visibility: validateRequest() ? 'hidden' : 'visible'}">Request must contain at least one character and less than 100 characters</em>
          <div class="input-group" [ngClass]="{'error': !validateRequest()}">
            <label for="search-input" class="mr-3 mt-2">I'm looking for</label>
            <input autofocus formControlName="stringRequest" name="stringRequest"  type="search" class="form-control" id="search-input" placeholder="Text of my search request" required>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Find</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <section>
      <header class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <h1 class="text-start mt-5 mb-4">Search history - {{(requests | async)?.length}} request{{(requests | async)?.length !== 1 ? '(s)' : ''}}</h1>
          <ul class="list-group">
            <app-query-item (eventClick)="removeRequest(request.$key)" *ngFor="let request of requests | async"  [data]="request"></app-query-item>
          </ul>  
                 
        </div>
        
      </header>
    </section>